<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>iuwx</display-name>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>iu.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TopayServlet</servlet-name>
		<servlet-class>iu.servlet.TopayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NotifyServlet</servlet-name>
		<servlet-class>iu.servlet.NotifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Message</servlet-name>
		<servlet-class>iu.notification.Message</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PhoneMessage</servlet-name>
		<servlet-class>iu.notification.PhoneMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OpenIdHandler</servlet-name>
		<servlet-class>iu.servlet.OpenIdHandler</servlet-class>
	</servlet><servlet>
    <servlet-name>HealthArchiveServlet</servlet-name>
    <servlet-class>iu.servlet.HealthArchiveServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    <servlet-name>HealthArchiveServlet</servlet-name>
    <url-pattern>/HealthArchiveServlet</url-pattern>
  </servlet-mapping>
	<servlet>
		<servlet-name>GetAccessToken</servlet-name>
		<servlet-class>iu.servlet.GetAccessToken</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wx</servlet-name>
		<servlet-class>iu.message.wxservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestNotification</servlet-name>
		<servlet-class>iu.notification.RequestNotification</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestReportTopay</servlet-name>
		<servlet-class>iu.requestReport.RequestReportTopay</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wxPay</servlet-name>
		<servlet-class>iu.requestReport.wxPay</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>SavaDataServlet</display-name>
		<servlet-name>SavaDataServlet</servlet-name>
		<servlet-class>iu.RemoteRequest.SavaDataServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RemoteMainServlet</servlet-name>
		<servlet-class>iu.RemoteRequest.RemoteMainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoteTopayServlet</servlet-name>
		<servlet-class>iu.RemoteRequest.RemoteTopayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoteNotifyServlet</servlet-name>
		<servlet-class>iu.RemoteRequest.RemoteNotifyServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>ScanDemoPic</servlet-name>
    <servlet-class>iu.notification.ScanDemoPic</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ImgUpload</servlet-name>
    <servlet-class>com.upload.ImgReceive</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadInfo</servlet-name>
    <servlet-class>com.upload.uploadInfoProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyReportPay</servlet-name>
    <servlet-class>iu.requestReport.VerifyReportPay</servlet-class>
  </servlet>
  <servlet>   
    <servlet-name>ArchiveImage</servlet-name>
    <servlet-class>iu.servlet.ArchiveImage</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ImgUpload</servlet-name>
    <url-pattern>/ImgUpload</url-pattern>
  </servlet-mapping>	
    <servlet-mapping>
    <servlet-name>uploadInfo</servlet-name>
    <url-pattern>/uploadInfoProcess</url-pattern>
  </servlet-mapping>


	<servlet-mapping>
		<servlet-name>SavaDataServlet</servlet-name>
		<url-pattern>/SavaDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoteNotifyServlet</servlet-name>
		<url-pattern>/RemoteNotifyServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RemoteMainServlet</servlet-name>
		<url-pattern>/RemoteMainServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoteTopayServlet</servlet-name>
		<url-pattern>/RemoteTopayServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Message</servlet-name>
		<url-pattern>/message</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotifyServlet</servlet-name>
		<url-pattern>/notifyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PhoneMessage</servlet-name>
		<url-pattern>/phoneMessage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/mainServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopayServlet</servlet-name>
		<url-pattern>/topayServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OpenIdHandler</servlet-name>
		<url-pattern>/OpenIdHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAccessToken</servlet-name>
		<url-pattern>/GetAccessToken</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wx</servlet-name>
		<url-pattern>/wx</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestReportTopay</servlet-name>
		<url-pattern>/RequestReportTopay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wxPay</servlet-name>
		<url-pattern>/wxPay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestNotification</servlet-name>
		<url-pattern>/notification/RequestNotification</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScanDemoPic</servlet-name>
    <url-pattern>/scanDemoPic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyReportPay</servlet-name>
    <url-pattern>/VerifyReportPay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArchiveImage</servlet-name>
    <url-pattern>/ArchiveImage</url-pattern>
  </servlet-mapping>
<!-- 	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list> -->
</web-app>